<% layout('layouts/boilerplate') %>


    <div class="row mt-3 mb-5">
        <div class="col-6">
            <div class="card">
                <img src="<%=phone.image%>" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=phone.model%>
                    </h5>
                    <p class="card-text">
                        <%= phone.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: <b>
                            $<%=phone.price%>
                        </b>
                    </li>
                    <li class="list-group-item">Username: <b>
                            <%=phone.author.username%>
                        </b>
                    </li>
                </ul>
                <% if(currentUser && phone.author.equals(currentUser._id)) {%>
                    <div class="card-body">
                        <a href="/phones/<%= phone._id %>/edit" class="card-link btn btn-warning">Edit</a>
                        <form class="d-inline" action='/phones/<%=phone._id%>?_method=DELETE' method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
            </div>

        </div>


        <div class="col-6">
            <% if(currentUser) {%>
                <h2>Leave a Review:</h2>
                <form class="mb-3 validated-form" action="/phones/<%=phone._id%>/reviews" method="POST" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="">Rating:</label>
                        <input class="form-range" name="review[rating]" type="range" min="1" max="5">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Review:</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="20" rows="3"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <% } %>
                    <% for(let review of phone.reviews) {%>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="card-title">
                                    <h5>Rating: <%= review.rating %>
                                    </h5>
                                </div>
                                <h6 class="card-subtitle mb-2 text-muted">By: <a href="/views/users/profile">
                                        <%= review.author.username %>
                                    </a>
                                </h6>
                                <div class="card-text">
                                    Review: <%= review.body %>
                                </div>
                                <% if(currentUser && review.author.equals(currentUser._id)) {%>
                                    <form action="/phones/<%=phone._id%>/reviews/<%=review._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>